/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
    --background-dark: #0c090a;
    --background-light: #312b2c;
    --header-red: #b82e24;
    --text-dark: #d29314;
    --text-light: #ddd1a6;
    --text-medium: #b99e6d;
}

/* ID Selectors */
#site-title {
    font-family: "Lobster", cursive;
    color: var(--text-dark);
    text-transform: lowercase;
}

/* Class Selectors and Bootstrap Overrides */
.card {
    border-color: var(--header-red);
}

.card-body {
    background-color: var(--background-light);
}

.card-header {
    background-color: var(--header-red);
    color: var(--text-light);
}

.card-maximum-width {
    max-width: 540px;
}

.nav-link {
    color: var(--text-light);
}

.nav-link:hover {
    color: var(--text-dark);
}

/* Tag Selectors */
body {
    background-color: var(--background-dark);
}

p {
    color: var(--text-dark);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #b82e24;
}

body {
    height: 100vh;
    background: linear-gradient(209deg, #fec600, #000000, #e51515);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}