.content {
    background-color: black;
    color: white;
}

.reviews {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}
#reviewForm {
font-size: 22px;
display: flex;
flex-wrap: wrap;
padding-top: 50px;
}

.card-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
}
.card-text {
    font-size: 20px;
    color: white;
}
div.card {
    border-radius: 10px;
    border-color: black;
}
.card-body {
    background-color: red;
    border-radius: 10px;
    height: 400px;
    width: 400px;
}
#reviewForm {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}


