.all {
    height: 100%;
    background-size: cover;
    background: linear-gradient(209deg, #fec600, #000000, #e51515);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;}

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

.header {
    margin-top: 55px;
    padding: 10px;
    color: white;
}
.mymovies {
    padding: 10px;
    color: white;
}


.card-body {
    background-color:#212529;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    padding: 10px;
}



.reviews {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}
#reviewForm {
font-size: 22px;
display: flex;
flex-wrap: wrap;
color: white;
}

.card-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    color: white;
}
.card-text {
    font-size: 20px;
    color: white;
}
div.card {
    border-radius: 10px;
}

#reviewForm {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}


